<div class='container-fluid h-100' style="background-color: #000000;">
  <div class="row">
    <h3 class="col-md-6 mt-3 offset-3 text-center" style="color: #FFFFFF">Live情報</h3>
  </div>


  <div class="row">
    <div class="col-md-8 mt-3 offset-2 d-flex justify-content-center text-center" style="color: #FFFFFF">
      <%= form_with model: @event do |f| %>
      <table class="table table-borderless" style="color: #FFFFFF">
        <tr>
          <td>アーティスト名</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>日時</td>
          <% if @current_date.present? %>
            <td><%= f.datetime_field :start, value: "#{@current_date}T00:00" %></td>
          <% else %>
            <td><%= f.datetime_field :start %></td>
          <% end %>
        </tr>
        <tr>
          <td>会場</td>
          <td><%= f.text_field :place %></td>
        </tr>
        <tr>
          <td>ツアー・ライブ名</td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td>開場</td>
          <td><%= f.text_field :open %></td>
        </tr>
        <tr>
          <td>開演</td>
          <td><%= f.text_field :curtain %></td>
        </tr>
        <tr>
          <td>終演</td>
          <% if @current_date.present? %>
            <td><%= f.datetime_field :end, value: "#{@current_date}T00:00" %></td>
          <% else %>
            <td><%= f.datetime_field :start %></td>
          <% end %>
        </tr>
        <tr>
          <td>チケット料金</td>
          <td><%= f.text_field :price %></td>
        </tr>
        <tr>
          <td>チケット購入</td>
          <td>
            <%= f.radio_button :buy, Event.buys.key(0) %>
            <%= f.label :buy_no_buy, Event.buys_i18n[:no_buy] %>
            <%= f.radio_button :buy, Event.buys.key(1) %>
            <%= f.label :buy_buy, Event.buys_i18n[:buy] %>
          </td>
        </tr>
        <tr>
          <td>座席</td>
          <td><%= f.text_field :seet %></td>
        </tr>
        <tr>
          <td>交通手段</td>
          <td><%= f.text_field :transportation %></td>
        </tr>
        <tr>
          <td>宿泊先</td>
          <td><%= f.text_field :stay %></td>
        </tr>
        <tr>
          <td>感想</td>
          <td><%= f.text_field :impression %></td>
        </tr>
        <tr>
          <td>セットリスト</td>
          <td><%= f.text_area :setlist %></td>
        </tr>
        <tr>
          <td>チケット画像</td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td>セットリストの公開・非公開</td>
          <td>
            <%= f.radio_button :status, Event.statuses.key(0), checked: true %>
            <%= f.label :status_closed, Event.statuses_i18n[:closed] %>
            <%= f.radio_button :status, Event.statuses.key(1) %>
            <%= f.label :status_open, Event.statuses_i18n[:opened] %>
          </td>
        </tr>
        </table>
        <%= f.submit '保存', class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
