<div class='container-fluid h-100' style="background-color: #000;">
  <div class="row">
    <div class="col-md-6 offset-3 my-3 d-flex justify-content-center">
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <h3 class="col-md-6 offset-3 my-3 text-center" style="color: #FFF">Live記録</h3>
  </div>

  <% if @event.user_id == current_user.id %>
  <div class="row">
    <div class="col-md-6 offset-3 my-3 d-flex justify-content-center">
      <table class="table table-borderless" style="color: #FFF">
        <tr>
          <td>アーティスト名</td>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <td>日時</td>
          <td><%= l @event.start, format: :long %></td>
        </tr>
        <tr>
          <td>会場</td>
          <td><%= @event.place %></td>
        </tr>
        <tr>
          <td>ツアー・ライブ名</td>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <td>開場</td>
          <td><%= @event.open %></td>
        </tr>
        <tr>
          <td>開演</td>
          <td><%= @event.curtain %></td>
        </tr>
        <tr>
          <td>終演</td>
          <td><%= l @event.end, format: :long %></td>
        </tr>
        <tr>
          <td>チケット料金</td>
          <td><%= @event.price %></td>
        </tr>
        <tr>
          <td>チケット購入</td>
          <td><%= @event.buy_i18n %></td>
        </tr>
        <tr>
          <td>チケット画像</td>
          <td><%= image_tag @event.get_image(100,100) %></td>
        </tr>
        <tr>
          <td>座席</td>
          <td><%= @event.seet %></td>
        </tr>
        <tr>
          <td>交通手段</td>
          <td><%= @event.transportation %></td>
        </tr>
        <tr>
          <td>宿泊先</td>
          <td><%= @event.stay %></td>
        </tr>
        <tr>
          <td>感想</td>
          <td><%= @event.impression %></td>
        </tr>
        <tr>
          <td>セットリスト</td>
          <td><%= safe_join(@event.setlist.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <td>セットリストの公開</td>
          <td><%= @event.status_i18n %></td>
        </tr>
        </table>
      </div>
    </div>
    <div class="row">
    <div class="col-md-6 offset-3 my-3 d-flex justify-content-center" style="color: #FFF">
      <%= link_to "編集", edit_event_path(@event.id), class: "btn btn-success mr-2" %>
      <%= link_to "削除", event_path(@event), method: :delete, "data-confirm" =>"本当に消しますか？", class: "btn btn-danger ml-2" %>
    </div>
    </div>
  <% else %>
    <div class="row">
    <div class="col-md-6 offset-3 my-3 d-flex justify-content-center">
      <table class="table table-borderless" style="color: #FFF">
        <tr>
          <td>アーティスト名</td>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <td>日時</td>
          <td><%= l @event.start, format: :long %></td>
        </tr>
        <tr>
          <td>会場</td>
          <td><%= @event.place %></td>
        </tr>
        <tr>
          <td>セットリスト</td>
          <td><%= @event.setlist %></td>
        </tr>
      </table>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 offset-3 my-3 d-flex justify-content-center">
      <% if @event.favorited_by?(current_user) %>
        <%= link_to event_favorite_path(@event), method: :delete do %>
        ♥<%= @event.favorites.count %> いいね
      <% end %>
      <% else %>
        <%= link_to event_favorite_path(@event), method: :post do %>
        ♡<%= @event.favorites.count %> いいね
      <% end %>
    </div>
  </div>
</div>
<% end %>