<div class="container">
  <div class="row">
    <h3 class="col-md-6 text-center">参戦記録</h3>
  </div>
  
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <table class="table table-borderless">
        <tr>
          <td>アーティスト名</td>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <td>日時</td>
          <td><%= @event.event_data %></td>
        </tr>
        <tr>
          <td>会場</td>
          <td><%= @event.place %></td>
        </tr>
        <tr>
          <td>ツアー・ライブ名</td>
          <td><%= @event.title %></td>
        </tr>
        <tr>
          <td>開場</td>
          <td><%= @event.open %></td>
        </tr>
        <tr>
          <td>開演</td>
          <td><%= @event.start %></td>
        </tr>
        <tr>
          <td>チケット料金</td>
          <td><%= @event.price %></td>
        </tr>
        <tr>
          <td>チケット購入</td>
          <td>
            <% if @event.buy == 0 %>
            <%= radio_button_tag :buy, Event.buys.key(0), checked: true %>
            <%= label :buy_no_purchased, Event.buys_i18n[:not_purchased] %>
            <%= radio_button_tag :buy, Event.buys.key(1) %>
            <%= label :buy_purchased, Event.buys_i18n[:purchased] %>
            <% elsif @event.buy == 1 %>
            <%= radio_button_tag :buy, Event.buys.key(0) %>
            <%= label :buy_no_purchased, Event.buys_i18n[:not_purchased] %>
            <%= radio_button_tag :buy, Event.buys.key(1), checked: true %>
            <%= label :buy_purchased, Event.buys_i18n[:purchased] %>
            <% else %>
            <%= radio_button_tag :buy, Event.buys.key(0) %>
            <%= label :buy_no_purchased, Event.buys_i18n[:not_purchased] %>
            <%= radio_button_tag :buy, Event.buys.key(1) %>
            <%= label :buy_purchased, Event.buys_i18n[:purchased] %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>チケット画像</td>
          <td><%= image_tag @event.get_image(100,100) %></td>
        </tr>
        <tr>
          <td>座席</td>
          <td><%= @event.seet %></td>
        </tr>
        <tr>
          <td>交通手段</td>
          <td><%= @event.transportation %></td>
        </tr>
        <tr>
          <td>宿泊先</td>
          <td><%= @event.stay %></td>
        </tr>
        <tr>
          <td>感想</td>
          <td><%= @event.impression %></td>
        </tr>
        <tr>
          <td>セットリスト</td>
          <td><%= @event.setlist %></td>
        </tr>
        </table>
      </div>
    </div>
</div>