<div class='container-fluid h-100' style="background-color: #000000;">
  <div class= 'row'>
    <h2 class= 'col-md-6 mt-3 offset-3 text-center' style="color: #FFFFFF">会員登録</h2>
  </div>

    <%= form_with model:@user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class= 'row'>
        <div class= 'col-md-6 mt-3 offset-3 text-center' style="color: #FFFFFF">
          <%= f.label :"名前(ニックネーム可)" %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
      </div>

      <div class= 'row'>
        <div class= 'col-md-6 mt-3 offset-3 text-center' style="color: #FFFFFF">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class= 'row'>
        <div class= 'col-md-6 mt-3 offset-3 text-center' style="color: #FFFFFF">
        <%= f.label :"パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class= 'row'>
        <div class= 'col-md-6 mt-3 offset-3 text-center' style="color: #FFFFFF">
        <%= f.label :"パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class= 'row'>
        <div class= 'col-md-6 mt-3 offset-3 text-center'>
        <%= f.submit "登録", class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <div class= 'row'>
      <div class= 'col-md-6 mt-3 offset-3 text-center' style="color: #FFFFFF">
        登録済みの方は<%= link_to "こちら", new_user_session_path %>からログインしてください。
      </div>
    </div>
</div>
