<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="row">
    <h3 class="col-md-6 my-3 offset-md-3 text-center">ユーザー一覧</h3>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3 offset-md-3 d-flex aline-items-center justify-content-center">
      <table class="table table-bottom-boder">
        <thead>
        <tr>
        <th></th>
        <th>ユーザー名</th>
        </tr>
      </thead>
      <% @users.each do |user| %>
        <tr>
          <td>
          <%= link_to admin_user_path(user.id) do %>
          <%= image_tag user.get_profile_image(50,50) %>
          <% end %>
          </td>
          <td>
          <%= link_to admin_user_path(user.id) do %>
          <%= user.name %>
          <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div col="col-md-6 text-center">
      <%= paginate @users %>
    </div>
  </div>
</div>